@charset "ISO-8859-1";
label{display: block;}
.cust-checkbox {
display: none;
}
.cust-checkbox + span{
background-image:url(../images/available_seat_img.gif);
/*background: #999;*/
height: 30px;
width: 30px;
display:block;
padding: 0 0 0 0px;
}
.reserved .cust-checkbox + span{
background-image:url(../images/booked_seat_img.gif);
}
.selected .cust-checkbox + span{
background-image:url(../images/selected_seat_img.gif);
}
.cust-checkbox:checked + span{
height: 30px;
width: 30px;
display:block;
padding: 0 0 0 0px;
}
.cust-checkbox:disabled + span{
/*background: red;*/
height: 30px;
width: 30px;
display:block;
padding: 0 0 0 0px;
}
.seats{border: 1px solid #ccc;
padding: 0 15px;max-width: 550px;
margin: 50px auto 0}
.info{     padding: 0 15px;
max-width: 530px;
margin: 50px auto 0
}